.section-building {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url('/img/bg-4.png');
	// background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url('/build/img/bg-1.png');
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	background-size: cover;
}

.building__article-title {
	font-size: 36px;
	line-height: 48px;
	line-height: 36px;
}

.building__article p {
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 16px;
	font-weight: 500;
	margin-top: 35px;
}

