.section-home {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url('/img/bg-1.png');
	// background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url('/build/img/bg-1.png');
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	background-size: cover;
}

.header-content-wrapper {
	margin-top: 20%;
	text-shadow: 0 0 19px rgba(14, 15, 15, 0.3);
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 60px;
	font-weight: 700;
	line-height: 72px;
	p {
		margin-bottom: 30px;
		font-size: 22px;
		line-height: 32px;
		color: #ffffff;
		margin-bottom: 50px;
		display: block;
		// background-color: #ffffff;
		// background-color: transparent;
		// color: #323232;
		background-color: #323232;
		// background-color: rgba(50, 50, 50, 0.8);
		opacity: 0.7;
		color: #ffffff;
		padding: 5px 30px;
		// border: 2px solid #323232;
		border-radius: 10px;
		width: 600px;
		text-align: center;
	}
}

.button--small__tender {
	margin-top: 15px;
}

