.section-home {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url('/img/bg-1.png');
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	background-size: cover;
}

.h1 {

}

.header-content-wrapper {
	margin-top: 20%;
	text-shadow: 0 0 19px rgba(14, 15, 15, 0.3);
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 60px;
	font-weight: 700;
	line-height: 72px;
	p {
		font-size: 22px;
		color: @second-color;
	}
}

// .logo-title-wrapper {
// 	width: 346px;
// 	margin: 0 auto;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;

// }

