.navigation-wrapper {
	width: 100%;
    margin: 0 auto;
    padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	a:hover {
		border-bottom: 1px solid #fff;
	}
// border-bottom: 1px solid #fff;
	// margin-top: 6px;
}




.navigation {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	// margin-top: 6px;
}

.navigation__item {
	margin-right: 30px;
	&:last-child {
		margin-right: 0px;
	}
}

.navigation__link {
	text-decoration: none;
	color: #fff;
	font-family: "Gotham Pro";
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.18px;
	// & a:hover {
	// 	color: #fff;
	// }
}

.phone {
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 36px;
	font-weight: 700;
	/* Text style for "8 800 555" */
	letter-spacing: 0.3px;
	position: relative;

	p {
		color: #ffffff;
		font-family: "Gotham Pro";
		font-size: 22px;
		font-weight: 400;
		text-decoration: underline;
	}
}

.personal-cabinet {
	position: absolute;
	top: 85px;
    right: 6px;
	display: flex;
	flex-direction: column;
}

.button,
.button--header {
 	transition: all 0.2s ease-in;
 	display: inline-block;
 	line-height: 1;
 	outline: none;
 	cursor: pointer;
 	text-decoration: none;
 	border-radius: 45px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	padding: 0.7em 1em;
	text-transform: uppercase;
	color: #323232;
	font-family: "Gotham Pro";
	font-size: 32px;
	font-weight: 500;
	letter-spacing: 3px;
}
.button:hover,
.button:focus,
.button:active {
  background-color: transparent;
  color: #fff;
}

.button--header {
	padding: 0.6em 2.32em;
}

.button--small {
	margin-top: 30px;
	width: 300px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.9px;
	border: 3px solid #ffffff;
}

.button--inverse {
	margin-top: 20px;
	background-color: transparent;
	color: #fff; 
	&:hover,
	&:focus,
	&:active {
	  // border: 3px solid #ffffff;
	  background-color: #ffffff; 
	}
}

 

//
.menu-btn {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  z-index: 9000;
}
.menu-btn:hover {
  cursor: pointer;
}
.menu-btn_active {
  background-color: #fff;
  transition: background-color 0.5s ease;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.5s ease;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu-btn_active span {
  height: 0;
}
.menu-btn_active span:before {
  transform: rotate(45deg);
  background-color: #3d3431;
}
.menu-btn_active span:after {
  transform: rotate(-45deg);
  background-color: @second-color;
}

// .burger-menu {
// 	margin-top: 10px;
// 	margin-left: 35px;
// 	cursor: pointer;
// 	&__image {
// 	    width: 25px;
// 	    height: 3px;
// 	    border-radius: 3px;
// 	    background-color: #ffffff;
// 	    -webkit-box-shadow: 0 12px 0px #ffffff, 0 24px 0px #ffffff;
// 	    box-shadow: 0 8px 0px #ffffff, 0 16px 0px #ffffff;
// 	    cursor: pointer;
// 	}
// }
