.navigation-wrapper {
	width: 100%;
    margin: 0 auto;
    padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	a:hover {
		border-bottom: 1px solid #fff;
	}
}

.navigation {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	// margin-top: 6px;
}

.navigation__item {
	margin-right: 30px;
	&:last-child {
		margin-right: 0px;
	}
}

.navigation__link {
	// text-decoration: none;
	color: #fff;
	font-family: "Gotham Pro";
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.18px;
	position: relative;
	
	padding-left: 5px;//??

	// &:hover::before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: -5px;
	// 	height: 10px;
	// 	width: 1px;
	// 	background-color: #fff;
	// }

	// &:hover {
	// 	border-left: 1px solid #fff;
	// }

	
}

.phone {
	color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 36px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0.3px;
	position: relative;

	p {
		color: #ffffff;
		font-family: "Gotham Pro";
		font-size: 22px;
		font-weight: 400;
		text-decoration: underline;
	}
}

.personal-cabinet {
	position: absolute;
	top: 85px;
    right: 6px;
	display: flex;
	flex-direction: column;
}
