.section-offices {
	// background-image: url('/img/map-perspective-decktop-new.png');
	background-image: url('/img/map-three-3.jpg');


	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.adresse-list-item {
	padding-bottom: 8px;
	padding-left: 8px;
}

.adresse-list {
	// padding-left: 40px;
	padding-top: 8px;
	background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: -30px;
}

.adresse-list-title {
	font-weight: bold;
	span {
		font-weight: normal;
	}
}

// .offices-map {
// 	position: relative;
// 	margin: 0 auto;
// 	width: 100px;
// }

// .offices-map {
// 	position: absolute;
// 	// top: 100px;
// 	// left: 445px;

// 	top: 0px;
//     left: 0px;

    
//     width: 100%;
//     height: 625px;
// 	background-image: url('/img/map-new-2.png');

	
// 	// // background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url('/build/img/bg-1.png');
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: cover;
// 	// transform: scale(1.2);
// 	z-index: 2;
// }