<!DOCTYPE html>
//- html(lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" )
html(lang="en" class=" no-touch" )
	include pages/_head
	body
		include pages/_vertical-menu.pug
		
		include pages/_header-content


		include pages/_about-us
			
		//- section#building.cd-section
		//- 	a(href="#building")
		//- 		a(href="#home" class="cd-scroll-up cd-img-replace")
		//- 		h1 Коммерческое  строительство
		//- section#services.cd-section
		//- 	a(href="#services")
		//- 		a(href="#home" class="cd-scroll-up cd-img-replace")
		//- 		h1 Услуги
		//- section#company.cd-section
		//- 	a(href="#company")
		//- 		a(href="#home" class="cd-scroll-up cd-img-replace")
		//- 		h1 Компания
		//- section#contacts.cd-section
		//- 	a(href="#contacts")
		//- 		a(href="#home" class="cd-scroll-up cd-img-replace")
		//- 		h1 Контакты
		//- section#shop.cd-section
		//- 	a(href="#shop")
		//- 		a(href="#home" class="cd-scroll-up cd-img-replace")
		//- 		h1 Магазин
	
	include pages/_foot