section#about-us.cd-section.section-about-us
	a(href="#about-us")
		.container
			.row
				h2.section--title Мы

			.row
				.numbers-wrapper
					.col-md-3.col-sm-6.col-xs-6
						.number
							.number--img
								img(src="img/house.svg", alt="house")
							span#fun-level-1 60
							.text Построено домов
					.col-md-3.col-sm-6.col-xs-6
						.number.number--string
							.number--img
								img(src="img/mall.svg", alt="mall")
							span#fun-level-2 45
							.text Построено торговых площадей
					.col-md-3.col-sm-6.col-xs-6
						.number.number--string.number--string-out
							.number--img
								img(src="img/storage.svg", alt="storage").number--img
							span#fun-level-3 40
							.text Построено складских помещений
					.col-md-3.col-sm-6.col-xs-6
						.number.number--string
							.number--img
								img(src="img/staff.svg", alt="staff").number--img
							span#fun-level-4 1000
							.text Количество сотрудников 
	//- <div class="top active" title="Наверх"><i class="fa fa-angle-up"></i></div>
