section#alros-home.cd-section.section-alros-home
	a(href="#alros-home")
	.container
		.row
			.col-md-10.col-md-offset-1.alros-home--content
				<p>Компания Alros Construction осуществляет строительную деятельность с 2013 года. В&nbsp;данный момент Alros Construction курирует частные и коммерчесие объекты в&nbsp;следующих регионах: Москва, Москвоская область, Калужская область, Тульская область, Рязанская область, Владимирская область, Тверская область, Калинградская область, Ставропольский край и Краснодарский край. В 2017 году компания Alros Construction начала работать в сегменте "Умный дом" и представила на российский рынок свой продукт <a href="#" class="alros-home--content-link">Alros Smart Home</a> (ASH).</p>
				<p>С 2018 года компания Alros Construction занимается установкой солнечных батарей под&nbsp;ключ. Этот продукт называется <a href="#" class="alros-home--content-link">Alros Solar Panel</a> (ASP).</p>
				<p>С 2019 года компания Alros Construction занимается Геометральным отоплением и&nbsp;выполняет весь спектр услуг в данном направлении (установка, пусконаладка, оптимизация, увеличение мощности и т.д. Этот продукт называется <a href="#" class="alros-home--content-link">Alros Geothermal Heating</a>  (AGH).</p>
