section#building.cd-section.section-building
	a(href="#building")
	.container
		h2.section--title Коммерческое строительство

		.row
			.col-md-4
				.building__article-title Генеральный подрядчик
				.building__article
					p В сложившихся экономических условиях современного рынка для реализация инвестиционного проекта любой сложности в области строительства невозможна и малоэффективна без генерального подрядчика.
					p Именно генеральный подрядчик несет ответсвенность за качество производимых работ, за взаимодействие с субподрядчиками, а так же за сдачу объекта в срок.
			.col-md-4
				.building__article-title Генеральный проектировщик
				.building__article
					p В сложившихся экономических условиях современного рынка для реализация инвестиционного проекта любой сложности в области строительства невозможна и малоэффективна без генерального проектировщика.
					p Именно генеральный проектировщик должен грамотно выполнить проект и обеспечит качественное воплощение этого проекта в жизнь.
			.col-md-4 
				.building__article-title Технический заказчик
				.building__article
					p Alros Construction качественно выполняет работу "под ключ": от разработки концепции до сдачи объекта в согласо- ванные сроки, с последующей гарантией за качество выполненных работ.




