section#building.cd-section.section-building
	a(href="#building")
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				h2.section--title Коммерческое строительство

		.row.building--content
			.col-md-4.col-md-offset-1.col-md-12.col-sm-12.col-xs-12
				.building__article-title Генеральный подрядчик
				.building__article
					p В сложившихся экономических условиях современного рынка реализация инвестиционного проекта любой сложности в области строительства невозможна и&nbsp;малоэффективна без генерального подрядчика.
					p Именно генеральный подрядчик несет ответственность за качество производимых работ, за&nbsp;взаимодействие с&nbsp;субподрядчиками, а также за сдачу объекта в срок.
			.col-md-4.col-md-12.col-sm-12.col-xs-12
				.building__article-title Генеральный проектировщик
				.building__article
					p В сложившихся экономических условиях современного рынка реализация инвестиционного проекта любой сложности в области строительства невозможна и малоэффективна без генерального проектировщика.
					p Именно генеральный проектировщик должен грамотно выполнить проект и&nbsp;обеспечить качественное воплощение этого проекта в жизнь.
			.col-md-3.col-md-12.col-sm-12.col-xs-12
				.building__article-title Технический заказчик
				.building__article
					p Alros Construction качественно выполняет работу "под ключ": от&nbsp;разработки концепции до&nbsp;сдачи объекта в&nbsp;согласованные сроки, с последующей гарантией за&nbsp;качество выполненных работ.

