.blockmenu
	ul.menu
		li.blockmenu__item
			a(href="#main-home").blockmenu__link Главная страница
		li.blockmenu__item
			a(href="#building").blockmenu__link Коммерческое строительство
		li.blockmenu__item
			a(href="#services").blockmenu__link Услуги
		li.blockmenu__item
			a(href="#company").blockmenu__link Компания
		li.blockmenu__item
			a(href="#contacts").blockmenu__link Контакты


	//- ul.menu.personal-cabinet-links
	//- 	li.blockmenu__item
	//- 		a(href="#").blockmenu__link Личный кабинет
	//- 	li.blockmenu__item
	//- 		a(href="#").blockmenu__link Пригласить на тендер