section
	footer.main-footer
		nav.navigation-wrapper.footer-nav-wrapper
			.logo
				a(href="#main-home")
					//- img(src="img/Alros_logo.svg", alt="Alros logo", width="203px", height="72px")
					img(src="img/Alros_logo.svg", alt="Alros logo", width="85%", height="auto")

			.copyright-nav-wrapper
				ul.navigation.footer-nav-list
					li.navigation__item
						a(href="#home").navigation__link Home
					li.navigation__item
						a(href="#building").navigation__link Коммерческое  строительство
					li.navigation__item
						a(href="#services").navigation__link Услуги
					li.navigation__item
						a(href="#company").navigation__link Компания
					li.navigation__item
						a(href="#contacts").navigation__link Контакты
				a(href="tel:+74952555550").phone 8 495 255 55 50
				.copyright &copy; 2019 ООО «Алрос». Вся информация размещенная на сайте является интеллектуальной собственностью.

			.social-icons
				ul.soc
					li
						a(href="#")
							i.fa.fa-vk
					li
						a(href="#")
							i.fa.fa-facebook
					li
						a(href="#")
							i.fa.fa-instagram
					li
						a(href="#")
							i.fa.fa-youtube
				