section#home.cd-section.section-home
	a(href="#home")
	nav.navigation-wrapper
		a(href="#")
		.logo
			img(src="img/Alros_logo.png", alt="Alros logo", width="203px", height="72px")
	
		ul.navigation
			li.navigation__item
				a(href="#home").navigation__link Home
			li.navigation__item
				a(href="#building").navigation__link Коммерческое  строительство
			li.navigation__item
				a(href="#services").navigation__link Услуги
			
			li.navigation__item
				a(href="#company").navigation__link Компания
			li.navigation__item
				a(href="#contacts").navigation__link Контакты
		.phone 8 800 555 35 35
			p Заказать обратный звонок
			.personal-cabinet
				.button.button--small Личный  кабинет
				.button.button--small.button--small__tender Пригласить на тендер
		//- .menu-btn
		//- 	span

	.container
		.row
			.col-md-9.col-md-offset-1
				.header-content-wrapper 
					.header-content--desc Кирпичный дом «Брайер» 
					| Проект ALR №2016-1 
					br 
					| 165 м2
					p Цена дома под ключ: 2 990 млн. рублей

				a(href="").button.button--header Подробнее
					//- .header-main-containt
					//- .logo-title-wrapperimg(src="img/logo.png", alt="logo")
					//- 	h1.h1 
					//- .header-content__main-container
				
				//- include pages/_burger-menu.pug

	.cd-scroll-down__wrapper
		//- не работает
		a(href="#reglament" class="cd-scroll-down cd-img-replace")





		
