section#main-home.cd-section.section-home
	a(href="#main-home")
	include _navigation
	
	.container
		.row
			.col-md-11.col-md-offset-1.col-sm-12
				.header-content-wrapper 
					.header-content--desc Кирпичный дом «Брайер» 165 м<sup>2</sup>
						p.project-name проект ALR №2016-1 
						
					p.price.animated.infinite.pulse от<span> 2 990 000 </span>руб.
				
					a(href="").button.button--header Подробнее

	//- .cd-scroll-down__wrapper 
	//- 	a(href="#about-us").cd-scroll-down.cd-img-replace