head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
	title Alros

	//- link(rel="stylesheet" href="libs/fontawesome/font-awesome.min.css")
	//- link(rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png")
	

	link(rel="stylesheet" href="libs/bootstrap-grid/bootstrap-grid.css")
	link(rel="stylesheet" href="fonts/GothamPro/stylesheet.css")
	link(rel="stylesheet" href="css/main.css")