section#contacts.cd-section.section-offices
	a(href="#contacts")
	.container
		.row.offices--content
			.col-md-12.col-sm-12.col-xs-12
				h2.section--title Наши представительства

	include _footer

		//- .row
		//- 	.col-md-3.col-md-offset-9.col-sm-3.col-sm-offset-9
		//- 		.adresse-list
		//- 			.adresse-list-item
		//- 				.adresse-list-title Владимир, 
		//- 					span ул.Коммунистическая, 24, тел. 8(495)255 55 50
		//- 			.adresse-list-item
		//- 				.adresse-list-title Калининград
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Калуга
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Краснодар
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Москва
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Ростов-на-Дону
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Рязань
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Ставрополь
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Тверь
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Тула
		//- 				p ул.Коммунистическая, 24
		//- 			.adresse-list-item
		//- 				.adresse-list-title Ярославль
		//- 				p ул.Коммунистическая, 24
					


		//- .offices-map
			//- include _floating-map-elements
	//- include _footer