nav#cd-vertical-nav
	ul
		li
			a(href="#projects" data-number="1")
				span.cd-label Проекты
				span.cd-dot
		li
			a(href="#about-us" data-number="2")
				span.cd-label О нас
				span.cd-dot
		li
			a(href="#alros-home" data-number="3")
				span.cd-label ALROS Home
				span.cd-dot
		li
			a(href="#building" data-number="4")
				span.cd-label Коммерческое строительство
				span.cd-dot
		li
			a(href="#map" data-number="5")
				span.cd-label Карта
				span.cd-dot
		li
			a(href="#contacts" data-number="6")
				span.cd-label Контакты
				span.cd-dot

//- nav#cd-vertical-nav
//- 	ul
//- 		li
//- 			a(href="#products" data-number="1")
//- 				span.cd-label Продукты
//- 				span.cd-dot
//- 		li
//- 			a(href="#reglament" data-number="2")
//- 				span.cd-label Регламент применения
//- 				span.cd-dot
//- 		li
//- 			a(href="#experience" data-number="3")
//- 				span.cd-label Опыт
//- 				span.cd-dot
//- 		li
//- 			a(href="#company" data-number="4")
//- 				span.cd-label Компания
//- 				span.cd-dot
//- 		li
//- 			a(href="#mass-media" data-number="5")
//- 				span.cd-label СМИ о нас
//- 				span.cd-dot
//- 		li
//- 			a(href="#shop" data-number="6")
//- 				span.cd-label Магазин
//- 				span.cd-dot
