nav#cd-vertical-nav
	ul
		li
			a(href="#main-home" data-number="1")
				span.cd-label Главная страница
				span.cd-dot
		li
			a(href="#about-us" data-number="2")
				span.cd-label Мы 
				span.cd-dot
		li
			a(href="#alros-home" data-number="3")
				span.cd-label ALROS Home
				span.cd-dot
		li
			a(href="#building" data-number="4")
				span.cd-label Коммерческое строительство
				span.cd-dot
		//- li
		//- 	a(href="#map" data-number="5")
		//- 		span.cd-label Карта
		//- 		span.cd-dot
		li
			a(href="#contacts" data-number="6")
				span.cd-label Контакты
				span.cd-dot
